#title{
	font-size: 45px;
	line-height: 50px;
	font-family: 'Courier New', Courier, monospace;
	margin-top:20px;
	margin-bottom: auto;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 17px;
	margin-top: 15px;
	font-family:'Courier New', Courier, monospace;
}

*{
	box-sizing: border-box;
}
.header{
	grid-area: header;
	padding: 30px;
	text-align: center;
}
.grid-container{
	display:grid;
	grid-template-areas:
		'header header header header header header' 
		'left left left middle right right' 
		'footer footer footer footer footer footer'; 
}
.left,.middle,.right{
	padding:10px;
}
.left{
	grid-area: left;
}
.middle{
	grid-area: middle;
}
.right{
	grid-area: right;
}
.footer{
	grid-area: footer;
	padding: 10px;
	text-align: center;
}
@media (max-width: 600px) {
	.grid-container{
		grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
	}
}
.card{
    padding-right: 10px;
    padding-left: 10px;
}

button{
	border-radius: 10px;
	border: 2px solid rgb(184, 197, 197);
	background:azure;
	padding:15px 25px;
	cursor:pointer;
	box-shadow: 0 9px #999;
    margin-top: 20px;
}

button.goBack:active{
	background-color: rgb(209, 226, 226);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

button.goBack:hover:not(:active){
	background-color: rgb(209, 226, 226);
}