input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	font-size: 26px;
	line-height: 75px;
	font-family: 'Courier New', Courier, monospace;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
}

p{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

button{
	border-radius: 10px;
	border: 2px solid rgb(184, 197, 197);
	background:azure;
	padding:15px 25px;
	cursor:pointer;
	box-shadow: 0 9px #999;
	font-family: 'Courier New', Courier, monospace;
}

button.menu-object:active{
	background-color: rgb(209, 226, 226);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

button.menu-object:hover:not(:active){
	background-color: rgb(209, 226, 226);
}

