<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css">
		<script src="../js/loader.js"></script>
		<title> My first game - Game </title>
	</head>
	<body>
		<div id="game_id">
			<p class="menu-object" id="title">Is playing {{username}}</p>
			<p class="menu-object" id="title" v-if="score_text <= 0"> You Lose </p>
			<p class="menu-object" id="title" v-else-if="num_cards <= 0">
				You WIN!!! with {{score_text}} points
			</p>
			<img v-else v-for="(card, indx) in current_card" :src="card.texture" v-on:click="clickCard(indx)">
		</div>
		<a class="menu-object" href="../">GoToMenu</a>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/game_controller.js"></script>
</html>

